<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>
  <title>sign up</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" />
  <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet"/>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
  <link rel="stylesheet" href="styles.css">
</head>
<body>

<div class="w3-top">
  <div class="w3-row w3-large w3-light-grey">
    <div class="w3-col s3">
      <a href="/" class="w3-button w3-block">Home</a>
    </div>
    <div class="w3-col s3">
      <p></p>
    </div>
    <div class="w3-col s3">
      <p></p>
    </div>
    <div class="w3-col s3">
      <p></p>
    </div>
  </div>
</div>

<div class="container">
  <form class="form-signin" method="post" action="/signup" onsubmit="return validateForm()">
    <h2 class="form-signin-heading">Please sign up</h2>
    <p>
      <label for="email" >Username</label>
      <input type="text" id="email" name="email" class="form-control"/>
    </p>
    <p>
      <label for="password" >Password</label>
      <input type="password" id="password" name="password" class="form-control" />
    </p>
    <p>
      <label for="firstname" >First Name</label>
      <input type="text" id="firstname" name="firstname" class="form-control" />
    </p>
    <p>
      <label for="lastname" >Last name</label>
      <input type="text" id="lastname" name="lastname" class="form-control" />
    </p>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
  </form>

  <script>
    function validateForm() {
      var email = document.getElementById("email").value;
      var password = document.getElementById("password").value;
      var firstname = document.getElementById("firstname").value;
      var lastname = document.getElementById("lastname").value;

      if (email.trim() === "" || password.trim() === "" || firstname.trim() === "" || lastname.trim() === "") {
        alert("Please fill in all the required fields.");
        return false;
      }
      return true;
    }
  </script>
</div>
</body></html>